<div class="login-container">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    
    <div class="field">
      <label class="label">Username</label>
      <div class="control ">
        <input [ngClass]="{ 'is-danger' : submitted && f.username.errors }" class="input" type="text" placeholder="Username..." formControlName="username">
        <div *ngIf="submitted && f.username.errors" class="is-danger">
          <p class="help is-danger" *ngIf="f.username.errors.required">Username is required</p>
        </div>
      </div>
    </div>
    
    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input [ngClass]="{ 'is-danger' :submitted && f.password.errors }"  formControlName="password" placeholder="Password..." class="input" type="password">
        <div *ngIf="submitted && f.password.errors" class="is-danger">
          <p class="help is-danger" *ngIf="f.password.errors.required">Password is required</p>
        </div>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button type="submit" class="button is-link">Submit</button>
      </div>
    </div>
  </form>
</div>