<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a routerLink="" routerLinkActive="active" class="navbar-item" href="https://bulma.io">
      <div class="title">RM</div>
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <a routerLink="editor" routerLinkActive="active" class="navbar-item">
        Éditeur
      </a>

      <a routerLink="view" routerLinkActive="active" class="navbar-item">
        Visualisation
      </a>

      
    </div>
    
    <div class="navbar-end">
      <div class="navbar-item" *ngIf="!isLogedIn">

        <div class="buttons">
          <a routerLink="sign-in" routerLinkActive="active"  class="button is-primary">
            <strong>Sign up</strong>
          </a>
          <a routerLink="login" routerLinkActive="active" class="button is-light">
            Log in
          </a>
        </div>
      </div>

      <div class="navbar-item has-dropdown is-hoverable" *ngIf="isLogedIn">
        <a class="navbar-link">
          {{username}}
        </a>

        <div class="navbar-dropdown">
          <a href class="navbar-item" (click)="logout()">
            Logout
          </a>
        </div>
      </div>

    </div>
  </div>
</nav>