<div class="sign-in-container">
  <form (ngSubmit)="onSubmit()" [formGroup]="form">
    
    <div class="field">
      <label class="label">Username</label>
      <div class="control ">
        <input [ngClass]="{ 'is-danger' :submitted &&  f.username.errors }" class="input" type="text" placeholder="Username..." formControlName="username">
        <div *ngIf="submitted && f.username.errors" class="is-danger">
          <p class="help is-danger" *ngIf="f.username.errors.required">Username is required</p>
          <p class="help is-danger" *ngIf="f.username.errors.minlength">Username must be at least 6 characters</p>
          <p class="help is-danger" *ngIf="f.username.errors.maxlength">Username must not exceed 20 characters</p>
        </div>
      </div>
    </div>
    
    <div class="field">
      <label class="label">Email</label>
      <div class="control">
        <input [ngClass]="{ 'is-danger' :submitted &&  f.email.errors }" class="input" type="email" placeholder="Email..." formControlName="email">
        <div *ngIf="submitted && f.email.errors" class="is-danger">
          <p class="help is-danger" *ngIf="f.email.errors.required">Email is required</p>
          <p class="help is-danger" *ngIf="f.email.errors.email">Email is invalid</p>
        </div>
      </div>
    </div>
    
    <div class="field">
      <label class="label">Password</label>
      <div class="control">
        <input [ngClass]="{ 'is-danger' :submitted &&  f.password.errors }" placeholder="Password..."  formControlName="password" class="input" type="password">
        <div *ngIf="submitted && f.password.errors" class="is-danger">
          <p class="help is-danger" *ngIf="f.password.errors.required">Password is required</p>
          <p class="help is-danger" *ngIf="f.password.errors.minlength">Password must be at least 6 characters</p>
          <p class="help is-danger" *ngIf="f.password.errors.maxlength">Password must not exceed 40 characters</p>
        </div>
      </div>
    </div>
    
    <div class="field">
      <label class="label">Confirm password</label>
      <div class="control">
        <input [ngClass]="{ 'is-danger' :submitted && f.confirmPassword.errors }" placeholder="Confirm password..." formControlName="confirmPassword" class="input" type="password">
        <div *ngIf="submitted && f.confirmPassword.errors" class="is-danger">
          <p class="help is-danger" *ngIf="f.confirmPassword.errors.required">Confirm Password is required</p>
          <p class="help is-danger" *ngIf="f.confirmPassword.errors.matching">Confirem password does not match</p>
        </div>
      </div>
    </div>

    <div class="field is-grouped">
      <div class="control">
        <button type="submit" class="button is-link">Submit</button>
      </div>
    </div>
  </form>
</div>